@using VideoShop.Services.Services;
@using VideoShop.WebUI.Controllers

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var Teachers = new TeacherService().GetAll();
    var CourseCategroy = new CategoryCourseService().GetAll();
}


<div style="margin-top:10px" class="container">
    <div class="card">
        <div class="card-header">
            Create
        </div>
        <div class="card-body">
            <form class="col-12 align-middle form-group" action="/Courses/CreateOP" method="post">
                <p>Course Name: </p>
                <input class="form-control" type="text" name="cName" />
                <p>Subject Name: </p>
                <input class="form-control" type="text" name="cSubject" />
                <p>Content: </p>
                <input class="form-control" type="text" name="content" />
                <p>Teacher: </p>
                <select class="form-control" name="tId">
                    @foreach(var item in Teachers){
                    <option value="@item.Id">@item.Name</option>
                    }
                </select>
                <p>Course Category: </p>
                <select class="form-control" name="ccId">
                    @foreach(var item in CourseCategroy){
                    <option value="@item.Id">@item.Title</option>
                    }
                </select>
                <br />
                <input class="btn btn-success" value="Submit" type="submit" />
            </form>

        </div>
    </div>
</div>